:root {
  --primary1: #ffa836;
  --primary2: #3b2612;
  --secondary1: #23170b;
  --secondary2: #3f2f1e;
  --secondary3: #d3bda6;

  --primary1golden: #ffc34a;

  scroll-behavior: smooth;
}
* {
  -webkit-tap-highlight-color: transparent;
}
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
::-webkit-scrollbar-track {
  background-color: var(--primary2);
}
::-webkit-scrollbar-thumb {
  background-color: var(--primary1);
  border: 1px solid var(--secondary1);
}
.merriweather {
  font-family: "Merriweather";
  font-weight: 600;
}

.center {
  text-align: center;
}

.brown {
  fill: var(--primary2);
}
.gold {
  fill: var(--primary1);
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: var(--primary1);
  color: var(--primary2);
  max-width: 100vw;
  overflow-x: hidden;
}
.wrapper {
  position: relative;
  width: 100%;
  max-width: min(1400px, 100%);
  padding: clamp(10rem, 10vw, 10rem) clamp(1.5rem, 5%, 5%);
  box-sizing: border-box;
  margin: auto;
}

nav {
  position: absolute;
  width: 100%;
  font-size: 1.6rem;
  font-weight: 500;
  display: flex;
  justify-content: center;
  z-index: 1;
}
nav .wrapper {
  padding: 0;
  position: relative;
}
nav ul {
  width: 100%;

  display: flex;
  margin: 0;
  padding: 0 1rem;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
}
nav .links {
  display: flex;
  margin: 0.5rem;
}
nav ul li {
  list-style-type: none;
  position: relative;
  cursor: pointer;
  display: flex;
}
nav a {
  padding: 1.5rem;
  border-radius: 5px;
  color: var(--primary2);
  text-decoration: none;
  transition: background-color 0.2s ease, color 0.2s ease;
}
nav a:hover {
  background-color: var(--primary2);
  color: var(--secondary3);
}
nav .icon {
  width: 50px;
  padding: 1rem 2rem;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    160deg,
    var(--primary1) 30%,
    var(--primary1golden)
  );
  z-index: -1;
  transform: scaleY(3);
}
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-height: 500px;
  padding: 5%;
  background-color: transparent;
  box-sizing: border-box;
}

.hero .text {
  display: flex;
  flex-direction: column;
  font-size: clamp(1rem, 2vw, 2rem);
  margin-right: 5vw;
}
.hero .icon {
  box-sizing: border-box;
  min-width: 300px;
  max-width: 450px;
}
.text p {
  margin: 0;
}
.text .name {
  font-family: "Ultra", serif;
  font-weight: 300;
  margin: 0;
  font-size: clamp(3rem, 10vw, 8rem);
  line-height: 100%;
  border-bottom: 3px solid var(--primary2);
  margin-bottom: 1rem;
}

.contact-links > a {
  fill: var(--primary2);
  width: 40px;
  height: 40px;
  margin: 0.5rem;
  stroke-width: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text .contact-links {
  margin: 0.5rem;
  display: flex;
  justify-content: center;
}

.copy-email-button {
  width: 150px;
  margin: auto;
  background-color: transparent;
  border: 3px solid var(--primary2);
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0.5rem 1rem;
  cursor: pointer;
}
.copy-email-button.copied {
  animation: email-copied;
  animation-duration: 2s;
}
@keyframes email-copied {
  0% {
    background-color: var(--secondary3);
  }
  100% {
    background-color: transparent;
  }
}

section {
  position: relative;
}

section h2,
section h3 {
  margin-bottom: 5%;
}

.projects {
  background-color: var(--primary1);
  color: var(--primary1);
}
.projects .wrapper {
  padding-top: 0;
}

h2,
h3 {
  font-family: "Ultra";
  font-weight: 200;
  font-size: 2.5rem;
  margin: 0;
}
h3 {
  font-size: 1.5rem;
}

.projects h2 {
  color: var(--primary2);
  border-bottom: 2px solid var(--primary2);
}

.project-container {
  width: fit-content;
  max-width: 1000px;
  margin: auto;
  color: var(--primary1golden);
  box-sizing: border-box;
  overflow: hidden;

  background-color: var(--primary2);
  border-radius: 10px;
  box-shadow: 0 0 10px var(--secondary1);
}

.project-container .info {
  padding: 3rem 10% 0.5rem 10%;
  box-sizing: border-box;
  position: relative;
}
.project-container .title {
  font-style: italic;
  font-weight: 600;
  font-size: clamp(2rem, 5vw, 3.2rem);
  margin: 0;
}
.project-container .description {
  color: var(--primary1);
  font-style: italic;
  max-width: 500px;
  font-size: clamp(1rem, 2vw, 1.6rem);
  padding-top: 1rem;
  margin: 0;
  box-sizing: border-box;
}
.project-container .about-section {
  display: flex;
  align-items: center;
  position: relative;
  margin: 3rem 0;
}
.project-container .about-section .show-about {
  position: absolute;
  bottom: 0;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, 50%);

  border: none;
  color: var(--primary1golden);
  background-color: var(--primary2);
  text-decoration: underline;
  font-size: clamp(1rem, 3vw, 1.1rem);
  cursor: pointer;
  white-space: nowrap;
}
.project-container .about-section.hidden .about {
  max-height: 0px;
  padding: 0;
}
.project-container .about {
  overflow: hidden;
  border-top: 1px solid var(--primary1golden);
  border-bottom: 1px solid var(--primary1golden);

  transition: max-height 0.5s ease, padding 0.5s ease;
  padding: 1rem 0;
}
.project-container .about h5 {
  font-size: clamp(1rem, 3vw, 1.2rem);
  margin: 0.5rem;
}
.project-container .about p {
  color: var(--primary1);
  font-weight: 400;
  font-size: clamp(1rem, 2vw, 1.2rem);
  margin: 1rem 0;
}
.project-container .technologies {
  width: 100%;
  font-size: clamp(0.8rem, 2vw, 1rem);
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}
.project-container .technologies h5 {
  font-size: clamp(0.8rem, 2vw, 1.3rem);
  font-weight: 400;
  margin: 0;
}
.project-container .technologies .list {
  margin: 0.5rem;
  text-align: center;
}
.project-container .technology {
  background: linear-gradient(to right, var(--primary1), var(--primary1golden));
  padding: 0.3rem 0.6rem;
  border-radius: 20px;
  margin: 0.2rem 0.1rem;
  color: var(--primary2);
  display: inline-block;
}
.project-container .imgs {
  margin: auto;
  position: relative;
  width: fit-content;
  height: fit-content;
  max-width: 800px;
  overflow: hidden;
  display: flex;
  box-sizing: border-box;

  display: flex;
  justify-content: center;
}

.project-container .links {
  margin: auto;
  width: 50%;
  display: flex;
  justify-content: center;
  padding: 1.5rem;
  box-sizing: border-box;
  pointer-events: none;
}

.project-container .links svg {
  pointer-events: all;
  cursor: pointer;
  width: 1fr;
  flex-grow: 1;
  border-radius: 5px;
  background: linear-gradient(to right, var(--primary1golden), var(--primary1));
  height: 10%;
  min-width: 100px;
  max-height: 35px;
  margin: 0 0.5rem;
  padding: 1%;
  stroke: var(--secondary1);
  fill: var(--secondary1);
}
.project-container .links svg {
  height: 100%;
}

.project-container .imgs img {
  left: 50%;
  transform: translate(-50%, 0);
  width: fit-content;
  max-width: 100%;
  height: 100%;
  object-fit: contain;
  position: absolute;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.8s ease;
}
.project-container .imgs img.active {
  opacity: 1;
}
.project-container .imgs .filler {
  position: relative;
  height: unset;
}

.project-container .img-navigator {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: end;
}
.project-container .img-slab {
  height: 30%;
  border-bottom: 2px solid var(--primary1golden);
  opacity: 0.5;
  border-radius: 2px;
  transition: opacity 0.5s ease;
  margin: 1rem 0.5rem;
}
.project-container .img-slab .lighting {
  width: 100%;
  height: 100%;
  background: linear-gradient(transparent 60%, #ffba301c);
  opacity: 0;
  transition: opacity 0.5s cubic-bezier(0.4, 0, 1, 1);
}
.project-container .img-slab.active {
  opacity: 1;
}
.project-container .img-slab.active .lighting {
  opacity: 0.9;
}

.project-container .imgs .mask {
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  background-color: #e48e1d;
  mix-blend-mode: color;
}
.project-container .imgs .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(transparent 75%, var(--primary2));
}

.about {
  background-color: var(--primary2);
  color: var(--primary1golden);
}
.about .wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about h2 {
  color: transparent;
  background: linear-gradient(
    to bottom,
    var(--primary1),
    var(--primary1golden)
  );
  background-clip: text;
  width: 100%;
  border-bottom: 2px solid var(--primary1golden);
}
.about .subhead {
  font-family: "merriweather";
  font-weight: 600;
  white-space: nowrap;
  font-size: 1.5rem;
}
.about p {
  padding: 0 1rem;
  text-align: start;
  font-size: 1.3rem;
  max-width: 700px;
  margin-bottom: 0.3rem;
  font-weight: 400;
}

.skills .wrapper {
  padding-top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.skills h2,
.skills h3 {
  width: 100%;
  border-bottom: 2px solid var(--primary2);
}
.skills h3 {
  margin-top: 5%;
}
.skills .icons {
  display: flex;
  margin: auto;
  width: 100%;
  max-width: min(600px, 100%);
  justify-content: center;
}
.skills .icons > * {
  margin: 0 1rem;
  width: 20%;
  height: 20%;
  max-width: 100px;
  max-height: 100px;
}
.skills .logo {
  position: relative;
  margin: 0 2%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.skills .tool-tip {
  pointer-events: none;
  opacity: 0;
  position: absolute;
  background-color: var(--primary2);
  color: var(--secondary3);
  z-index: 1;
  font-size: 1.2rem;
  padding: 0.5rem 2rem;
  border-radius: 5px;
  box-shadow: 0 0 5px var(--secondary1);
  top: 0;
  left: 50%;
  transform: translate(-50%, -110%);
  transition: opacity 0.3s ease;
}
.skills .logo:hover .tool-tip {
  opacity: 1;
}

.go-top {
  width: 100%;
  display: flex;
  justify-content: center;
}
.go-top a {
  width: 75px;
  height: 75px;
  border: none;
  background: transparent;
  border-radius: 50%;
  margin: auto;
  font-size: 1.5rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  padding: 1rem;
  background-color: var(--primary2);
  box-shadow: 5px 5px 10px var(--primary2);

  transition: all 0.3s ease;
  cursor: pointer;
}
.go-top a:hover {
  scale: 1.05;
}
.go-top a:active {
  scale: 0.95;
}
.go-top svg {
  transform: rotate(180deg);
}

footer {
  background-color: var(--primary2);
  color: var(--primary1);
  font-weight: 500;
  font-size: 1.2rem;
  margin-top: -1rem;
}
footer .wrapper {
  padding: 2rem;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  margin-bottom: 0;
}
footer p {
  margin: 0;
  margin-right: auto;
}
footer .contact-links {
  display: flex;
  flex-direction: row;
}
footer .contact-links svg {
  fill: var(--primary1);
  width: 40px;
  height: 40px;
}
footer .copy-email-button {
  border-color: var(--primary1);
  color: var(--primary1);
  margin: 1rem;
}

.wave {
  pointer-events: none;
  object-position: center bottom;
  position: absolute;
  top: 0;
  transform: translate(0, -99%);
  width: 100%;
  z-index: -1;
}
.wave.relative {
  position: relative;
  transform: scaleY(1.1);
}

@media screen and (max-width: 800px) {
  .hero {
    flex-direction: column-reverse;
    padding-bottom: 10rem;
  }
  .hero .text {
    margin-right: 0;
    font-size: clamp(1rem, 3vw, 2rem);
  }
  .hero .icon {
    max-width: 400px;
    padding: 4rem;
    padding-top: 7rem;
  }
  .text .name {
    margin: 0;
    font-size: clamp(3rem, 15vw, 8rem);
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 650px) {
  nav .icon {
    display: none;
  }
  nav .links {
    display: none;
  }
}

@media screen and (max-width: 450px) {
  footer .wrapper {
    flex-direction: column-reverse;
  }
  footer p {
    margin: auto;
    margin-top: 2rem;
  }
}

/*Animations*/
.hidden {
  opacity: 0;
  transform: translateY(20%);
  transition: all 0.7s ease;
}
.show {
  transform: translateY(0);
  opacity: 1;
}

@media (prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}

.hero .icon.hidden,
nav .icon.hidden {
  scale: 0;
  animation: spin-in;
  animation-duration: 1.5s;
  animation-timing-function: cubic-bezier(0.64, 0.02, 0.07, 0.99);
}
.hero .icon.hidden {
  transition: none;
}
nav .icon.hidden {
  transition-delay: 2300ms;
  animation-duration: 1s;
  animation-delay: 2300ms;
}
.hero .icon.show,
nav .icon.show {
  scale: 1;
}
@keyframes spin-in {
  0% {
    scale: 0;
    transform: rotate(360deg);
  }
  100% {
    scale: 1;
    transform: rotate(0deg);
  }
}

nav li:nth-child(1) {
  transition-delay: 2400ms;
}
nav li:nth-child(2) {
  transition-delay: 2500ms;
}
nav li:nth-child(3) {
  transition-delay: 2600ms;
}

.hero .text p:nth-child(1) {
  transition-delay: 1000ms;
}
.hero .text p:nth-child(2) {
  transition-delay: 1200ms;
}

.hero .text h1.hidden {
  transform: scale(10);
  transition: all 0.2s cubic-bezier(0, 0, 1, 0.22);
  transition-delay: 1700ms;
}
@media screen and (max-width: 500px) {
  .hero .text h1.hidden {
    transform: scale(0.1);
    transition: all 0.2s cubic-bezier(0.3, 0.15, 0.96, -0.15);
    transition-delay: 1700ms;
  }
}
.hero .text h1.show {
  transform: scale(1);
}

.hero .text p:nth-child(4) {
  transition-delay: 2000ms;
}

.hero .text a:nth-child(1) {
  transition-delay: 2100ms;
}
.hero .text a:nth-child(2) {
  transition-delay: 2200ms;
}
.hero .text a:nth-child(3) {
  transition-delay: 2300ms;
}
.hero .text a:nth-child(4) {
  transition-delay: 2400ms;
}
.hero .copy-email-button {
  transition-delay: 2400ms;
}

.icons .hidden:nth-child(2) {
  transition-delay: 100ms;
}
.icons .hidden:nth-child(3) {
  transition-delay: 200ms;
}
.icons .hidden:nth-child(4) {
  transition-delay: 300ms;
}
